# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
htmlcov/

# MyPy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/

# Project specific
tmp/
data/
.dolt/
.doltcfg/
.sqlhistory
FreeData_HistoricalOptionData/
*.log

# Misc
.DS_Store
